﻿#RelatedBlog-Container-Outer {
 overflow-x: scroll; width: auto; height: 210px;overflow-y: hidden;
    white-space: nowrap;
}

#RelatedBlog-Container-Inner {
    width: 150px;
    display: inline-block;
    height: 200px;
}
