﻿@using Sitecore.Mvc
@* @using Sitecore.Mvc.Analytics.Extensions *@
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    @Html.Sitecore().Placeholder("msg-html-title")
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="CODE_LANGUAGE" content="C#" />
    <meta name="vs_defaultClientScript" content="JavaScript" />
    <meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
    <style type="text/css">
        p {
            margin-top: 4px;
            margin-bottom: 4px;
        }
    </style>
</head>
<body bgcolor="white">
    <div style="font-size: 9pt; font-family: 'arial','sans-serif'; text-align: left; height: auto; padding: 6px;">
        <table cellspacing="0" cellpadding="0" border="0" style="font-size: 9pt; font-family: 'arial','sans-serif';" width="100%">
            <tr valign="top">
                <td bgcolor="#F9F9F9" style="border-top: 1px solid #CECECE; border-bottom: 1px solid #CECECE;">
                    @Html.Sitecore().Placeholder("msg-left-sidebar")
                </td>
                <td width="6">
                    <div style="width: 6px; font-size: 1px; overflow: hidden;">&nbsp;</div>
                </td>
                <td bgcolor="#F9F9F9" style="border-top: 1px solid #CECECE; border-bottom: 1px solid #CECECE;">
                    @Html.Sitecore().Placeholder("msg-body")
                </td>
                <td width="6">
                    <div style="width: 6px; font-size: 1px; overflow: hidden;">&nbsp;</div>
                </td>
                <td bgcolor="#F1F1F1" width="280">
                    <div style="margin: 12px;">
                        @Html.Sitecore().Placeholder("msg-right-sidebar")
                    </div>
                </td>
            </tr>
        </table>
        <div id="footerPanel" style="margin-top: 4px;">
            @Html.Sitecore().Placeholder("msg-footer")
        </div>
    </div>
</body>
</html>