﻿@using System.Web.Mvc.Html
@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@inherits System.Web.Mvc.WebViewPage
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Alpha Solutions USA</title>
    <link rel="icon" href=@Url.Content("/Content/Sandbox/images/favicon.ico") type="image/x-icon" />
    <link rel="shortcut icon" href=@Url.Content("/Content/Sandbox/images/favicon.ico") type="image/x-icon" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href=@Url.Content("/Content/Sandbox/styles/main.css") />
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,400italic' rel='stylesheet' type='text/css'>
    @Html.Sitecore().VisitorIdentification()
</head>
<body>

    <div id="page-wrapper">
        @Html.Sitecore().Placeholder("header")
        <section id="main" class="container">
            @Html.Sitecore().Placeholder("page_content")
        </section>
        @Html.Sitecore().Placeholder("call_to_action")
    </div>
    @Html.Sitecore().Placeholder("footer")

    <script src=@Url.Content("/Content/Sandbox/scripts/main.js")></script>

</body>
</html>