﻿@using Sitecore.Globalization
@model RenderingModel


    <div id="menu-login">
        @*@using (Html.BeginForm("Login","Page"))
        {
            @Html.AntiForgeryToken()

            <div>
                <div class="container">
                    <div class="row" style="margin-top: 9px;">
                        <div class="col-xs-10">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                </div>
            </div>

        }*@
    </div>