﻿@model RenderingModel

<div>

    <h1>@Html.Sitecore().Field("Page Title")</h1>
    <p>@Html.Sitecore().Field("Page Content")</p>
    @*<p>@Html.Partial("Renderings/Login", Model)</p>*@
    <p>
        Current Username = @Sitecore.Context.GetUserName()
        <br />
        Current User= @Sitecore.Context.User.Profile.FullName
        <br />
        Current User Email = @Sitecore.Context.User.Profile.Email
    </p>

    @Html.ActionLink("Send Email", "SendEmail", "Page")
    @using (Html.BeginForm("SendEmailToUser", "Page"))
    {
        <h2>Web Forms Template</h2>
        <input type="text" name="email" id="email" />
        <button title="Send to user">Send To email</button>
    }

    @using (Html.BeginForm("SendMVCEmailToUser", "Page"))
    {
        <h2>MVC Template</h2>
        <input type="text" name="email" id="email" />
        <button title="Send to user">Send To email</button>
    }
    @*@{ Session.Abandon(); }*@
</div>