﻿@using Sitecore.Globalization
@using System.Linq

@model List<Sandbox.Models.ProductModel>


<div>
    @if (Model != null && Model.Count > 1)
    {
        <ul>
            @foreach (var product in Model)
            {
                <li>@Html.Raw(product.Name)</li>
              // product.JsonData.Test
            }
        </ul>

    }
    
</div>